<div>


  <!--  menu principal y nombre app  -->

  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container-fluid">

      <div class="menu-buttons">
        <button type="button" class="btn oval-button">Generate Captcha</button>
        <button type="button" class="btn oval-button">Report</button>
        <button type="button" class="btn oval-button">Errores</button>
      </div>



      <!-- Nombre de la aplicación centrado -->
      <span class="navbar-brand mb-0 h1 text-center">Captcha - Generate</span>


      <div class="menu-buttons">
        <button type="button" class="btn oval-button">Table Symbol</button>
        <button type="button" class="btn oval-button">List Captcha</button>

      </div>

    </div>
  </nav>


  <div>


  </div>

  <!--  menu secundario   -->


  <div>


  </div>


  <!-- cuerpo compatido -->

  <app-editor-texto></app-editor-texto>


  <div>



  </div>

</div>